@import "tailwindcss";

@theme {
    --color-primary: #6A1B9A;
    --color-secondary: #2E5DA0;
    --color-dark: #1A1A1A;
    --color-light: #F5F7FA;

    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
    body {
        background-color: var(--color-light);
        color: var(--color-dark);
    }
}